In [3]:
#import libraries
import pandas as pd
import sqlite3

In [4]:
# Create a SQL connection to our SQLite database
con = sqlite3.connect(r"C:\Users\jesse\FPA_FOD_20170508.sqlite")

df = pd.read_sql_query("SELECT * FROM Fires", con)

pd.set_option('max_columns', None)

df.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,LOCAL_FIRE_REPORT_ID,LOCAL_INCIDENT_ID,FIRE_CODE,FIRE_NAME,ICS_209_INCIDENT_NUMBER,ICS_209_NAME,MTBS_ID,MTBS_FIRE_NAME,COMPLEX_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,1,PNF-47,BJ8K,FOUNTAIN,None,None,None,None,None,2005,2453403.5,33,1300,9.0,Miscellaneous,2453403.5,33.0,1730,0.10,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,13,13,AAC0,PIGEON,None,None,None,None,None,2004,2453137.5,133,0845,1.0,Lightning,2453137.5,133.0,1530,0.25,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,27,021,A32W,SLACK,None,None,None,None,None,2004,2453156.5,152,1921,5.0,Debris Burning,2453156.5,152.0,2024,0.10,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,43,6,None,DEER,None,None,None,None,None,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1400,0.10,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,44,7,None,STEVENOT,None,None,None,None,None,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1200,0.10,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [5]:
#drop most of the columns
df = df[['FIRE_NAME', 'FIRE_YEAR', 
         'STAT_CAUSE_DESCR',
         'FIRE_SIZE', 'LATITUDE',
         'LONGITUDE', 'STATE']]

x = len(df)
print(df.shape)
print(df.dtypes)

df.head()

(1880465, 7)
FIRE_NAME            object
FIRE_YEAR             int64
STAT_CAUSE_DESCR     object
FIRE_SIZE           float64
LATITUDE            float64
LONGITUDE           float64
STATE                object
dtype: object

,FIRE_NAME,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,LATITUDE,LONGITUDE,STATE
0,FOUNTAIN,2005,Miscellaneous,0.10,40.036944,-121.005833,CA
1,PIGEON,2004,Lightning,0.25,38.933056,-120.404444,CA
2,SLACK,2004,Debris Burning,0.10,38.984167,-120.735556,CA
3,DEER,2004,Lightning,0.10,38.559167,-119.913333,CA
4,STEVENOT,2004,Lightning,0.10,38.559167,-119.933056,CA

In [6]:
# Narrow down the STATE to CA
df = df.loc[df['STATE'] == 'CA']

df.head()

,FIRE_NAME,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,LATITUDE,LONGITUDE,STATE
0,FOUNTAIN,2005,Miscellaneous,0.10,40.036944,-121.005833,CA
1,PIGEON,2004,Lightning,0.25,38.933056,-120.404444,CA
2,SLACK,2004,Debris Burning,0.10,38.984167,-120.735556,CA
3,DEER,2004,Lightning,0.10,38.559167,-119.913333,CA
4,STEVENOT,2004,Lightning,0.10,38.559167,-119.933056,CA

In [11]:
df = df.loc[df['FIRE_YEAR'] >= 2000]

df.head()

,FIRE_NAME,FIRE_YEAR,STAT_CAUSE_DESCR,FIRE_SIZE,LATITUDE,LONGITUDE,STATE
0,FOUNTAIN,2005,Miscellaneous,0.10,40.036944,-121.005833,CA
1,PIGEON,2004,Lightning,0.25,38.933056,-120.404444,CA
2,SLACK,2004,Debris Burning,0.10,38.984167,-120.735556,CA
3,DEER,2004,Lightning,0.10,38.559167,-119.913333,CA
4,STEVENOT,2004,Lightning,0.10,38.559167,-119.933056,CA